Repository heuristic-team/nop, pull requests merged in 2025-08, with the labels that each got.

#5 alloca 0.0
  runtime/Cargo.lock
  runtime/Cargo.toml
  runtime/speca/alloca.md
  runtime/src/alloca/allocator.rs
  runtime/src/alloca/arena.rs
  runtime/src/alloca/hallocator.rs
  runtime/src/alloca/heapedarena.rs
  runtime/src/alloca/hedgearena.rs
  runtime/src/alloca/mod.rs
  runtime/src/lib.rs
Labels: runtime

#30 Scoped map and scoped set
  frontend/src/lib.rs
  frontend/src/support/mod.rs
  frontend/src/support/scoped_map.rs
  frontend/src/support/scoped_set.rs
Labels: enhancement, frontend

#37 Added support for logical and comparison operators to frontend (exclude translator)
  frontend/src/ast/mod.rs
  frontend/src/lexer/mod.rs
  frontend/src/lexer/token.rs
  frontend/src/parser/mod.rs
  frontend/src/sema/passes/assignment_correctness_check.rs
  frontend/src/sema/passes/typing.rs
  opt/src/translator/mod.rs
Labels: frontend

#34 Add member reference expression with full frontend support
  frontend/src/ast/mod.rs
  frontend/src/ast/print.rs
  frontend/src/parser/mod.rs
  frontend/src/sema/passes/assignment_correctness_check.rs
  frontend/src/sema/passes/handle_implicit_rets.rs
  frontend/src/sema/passes/name_correctness_check.rs
  frontend/src/sema/passes/typename_correctness_check.rs
  frontend/src/sema/passes/typing.rs
  frontend/src/sema/util.rs
  frontend/src/typesystem/mod.rs
  opt/src/translator/mod.rs
Labels: frontend
