Repository heuristic-team/nop, pull requests merged in 2025-07, with the labels that each got.

#3 Basic sema
  driver/src/main.rs
  examples/basic.nop
  frontend/grammar.md
  frontend/src/ast/mod.rs
  frontend/src/ast/print.rs
  frontend/src/lexer/lexemes.rs
  frontend/src/lexer/mod.rs
  frontend/src/lexer/token.rs
  frontend/src/lib.rs
  frontend/src/parser/mod.rs
  frontend/src/sema/mod.rs
  frontend/src/sema/pass.rs
  frontend/src/sema/passes/assignment_correctness_check.rs
  frontend/src/sema/passes/handle_implicit_rets.rs
  frontend/src/sema/passes/mod.rs
  frontend/src/sema/passes/name_correctness_check.rs
  frontend/src/sema/passes/type_check.rs
  frontend/src/sema/res.rs
  frontend/src/typesystem/types.rs
  frontend/test.ss
  frontend/tests/hello_world.ss
  frontend/tests/simple_math.ss
  frontend/tests/types.ss
Labels: frontend

#14 Refactoring and additions to IR.
  opt/src/ir/generated.rs
  opt/src/ir/instr.rs
  opt/src/ir/ir_display.rs
  opt/src/ir/ir_type.rs
  opt/src/ir/mod.rs
  opt/src/ir/program.rs
  opt/src/lib.rs
  opt/src/translator/mod.rs
Labels: opt

#20 Translator from AST to IR.
  .gitignore
  Cargo.lock
  driver/Cargo.toml
  driver/src/main.rs
  examples/basic.nop
  opt/.gitignore
  opt/src/ir/function.rs
  opt/src/ir/generated.rs
  opt/src/ir/instr.rs
  opt/src/ir/ir_display.rs
  opt/src/ir/ir_type.rs
  opt/src/ir/mod.rs
  opt/src/ir/operand.rs
  opt/src/ir/program.rs
  opt/src/translator/mod.rs
Labels: frontend, opt

#23 Fix operator associativity
  frontend/src/ast/mod.rs
  frontend/src/parser/mod.rs
Labels: bug, frontend

#27 Typename check pass
  driver/src/main.rs
  frontend/src/ast/mod.rs
  frontend/src/sema/mod.rs
  frontend/src/sema/passes/mod.rs
  frontend/src/sema/passes/type_check.rs
  frontend/src/sema/passes/typename_correctness_check.rs
  frontend/src/sema/util.rs
Labels: frontend

#26 Structs
  driver/src/main.rs
  frontend/src/ast/mod.rs
  frontend/src/lexer/mod.rs
  frontend/src/lexer/token.rs
  frontend/src/lib.rs
  frontend/src/parser/mod.rs
  frontend/src/sema/mod.rs
  frontend/src/sema/passes/assignment_correctness_check.rs
  frontend/src/sema/passes/handle_implicit_rets.rs
  frontend/src/sema/passes/mod.rs
  frontend/src/sema/passes/name_correctness_check.rs
  frontend/src/sema/passes/type_check.rs
  frontend/src/sema/passes/typename_correctness_check.rs
  frontend/src/sema/util.rs
  frontend/src/translation_unit.rs
  frontend/src/typesystem/mod.rs
  frontend/src/typesystem/type_decl.rs
  opt/src/ir/function.rs
  opt/src/ir/ir_type.rs
  opt/src/ir/operand.rs
  opt/src/translator/mod.rs
Labels: frontend
